<!--<app-diretiva-ngif></app-diretiva-ngif>-->
<!--<app-diretiva-ng-switch></app-diretiva-ng-switch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--<app-exemplo-ng-content><div class="titulo">Titulo principal</div><div class="conteudo">Conteudo passado para o componente.</div><div class="conteudo">Conteudo passado para o componente 2.</div>
</app-exemplo-ng-content>-->
<app-diretivas-customizadas></app-diretivas-customizadas>

